@import "./partials/header-style.scss";
@import "./partials/vars.scss";
@import "./partials/footer-style.scss";
@import "./partials/comics.scss";

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

ul {
    margin-bottom: 0 !important; // bootstrap puts 1rem as margin-bottom on ul
}

main {
    background-color: #1c1c1c;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-white.text-uppercase {
        font-size: 3rem;
    }
}
