@import './partials/header-style.scss';
@import './partials/vars.scss';


ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  ul {
        margin-bottom: 0; // bootstrap puts 1rem as margin-bottom on ul
    }
