header {
  height: 120px;
  background-color: white;
}

header img {
  height: 70%;
}

header li {
  position: relative;
}

header li.active:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: #0282f9;
}

header a {
  line-height: 120px;
  height: 100%;
  font-size: 13px;
  text-transform: uppercase;
  color: #1c1c1c;
  font-weight: bold;
  position: relative;
}

header a.active,
header a:hover {
  color: #0282f9;
}

#jumbo {
  height: 300px;
  width: 100%;
}

#jumbo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 30%;
     object-position: 0% 30%;
}

#footer_top {
  background-color: #0282f9;
}

#footer_top .product-img {
  height: 60px;
  max-width: 60px;
}

#footer_top li span {
  font-size: 14px;
}

#footer_top li a:hover {
  transform: scale(1.1);
}

footer ul {
  margin-bottom: 1rem;
}

footer ul li a {
  color: rgb(204, 199, 199);
}

footer li:hover a {
  color: white;
}

footer .footer_top {
  height: 400px;
  width: 100%;
  background-image: url(/images/footer-bg.jpg);
  background-size: contain;
  background-position: center;
}

footer .footer_top .container {
  height: 100%;
}

footer .lists {
  height: 100%;
}

footer .big-logo-footer {
  height: 400px;
  width: 500px;
  background-image: url(/images/dc-logo-bg.png);
  background-size: cover;
  background-position: center;
}

footer .footer_bot {
  background-color: #303030;
  z-index: 1;
}

footer #sign-up {
  color: white;
  outline: 3px solid #0282f9;
  padding: 0.7rem;
}

footer #sign-up:hover {
  background-color: #0282f9;
}

footer #follow {
  color: #0282f9;
}

footer .contacts-list {
  margin-bottom: 0;
}

footer .scaleonhover:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0 !important;
}

